
@font-face { 
    font-family: 'HeadingNowTrial'; 
    src:url('/HeadingNowTrial-35Medium.ttf') format('opentype')  ;
  } 
  body{
    height: 100vh
}

.coming-soon{

    border-top: 5px solid black;
    border-bottom: 5px solid black;

}
.coming-soon-h1{
    font-size: 280px;
    letter-spacing: 0px;
    font-family: HeadingNowTrial;
}

.coming-soon-logo{
    height: 10vh;
    width: 190px;
    background-image: url('/g-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and  (max-width : 960px) {
    .coming-soon-h1{
        font-size: 120px;
        letter-spacing: 0px;
        font-family: HeadingNowTrial;
    }

}